body {
    margin: 0px auto;
    padding: 0px;
    width: 1024px;
    min-width: 1024px;
    border: 3px solid red;
}

#header {
    section {
        margin: 0px;
        padding: 0px;
        height: 64px;
        border: 1px solid blue;
    }

    h1 {
        margin: 0px;
    }

    h2 {
        margin: 0px;
    }
}

#wrapper {
    height: 256px;
    border: 1px solid blue;
}

#footer {
    height: 64px;
    border: 1px solid grey;
}
