html {
    min-height: 100%;
}

body {
    margin: 0px auto;
    max-width: 1024px;
}

.drk0 {
    fill: #FF2020;
}

.drk1 {
    fill: #202020;
}

.drk2 {
    fill: #CCCCCC;
}

.st0 {
    fill: #FFFFFF;
}

.st2 {
    display: inline;
}
