@charset "utf-8";

$grey: #272829;
$easing: cubic-bezier(.75,.15,.25,.85);

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    a {
        text-decoration: none;
        color: inherit;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.header {
    width: 100%;
    height: fit-content;

    * {
        font-weight: 300;
    }

    .jsIcon {
        position: absolute;
        // top: 7.5rem;
        // left: 22%;
        transform: scale(4);
        color: #f7df1e;
    }

    .title {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 16rem;
        font-size: 2.5rem;
        font-weight: 100;
        letter-spacing: 1rem;

        .shades {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2.5rem;
            font-weight: 100;
            letter-spacing: 1rem;
        }
    }

    .subTitle {
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: $grey;
        color: white;

        height: 5rem;
        font-family: 'Kalam', cursive;
        text-transform: uppercase;
        font-size: 22px;
        font-weight: 300;
        letter-spacing: 0.2rem;
    }
}



.gridFrame {
    width: 100%;
    min-height: 100vh;

    display: grid;
    place-content: center;
    grid-gap: 4rem;
    grid-template-columns: repeat(3, 24rem);


    .gridItem {
        height: 12rem;
        width: 24rem;
        border: 1px solid $grey;

        .jsLink {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;
            height: 100%;

            background-color: $grey;
            color: white;

            box-shadow: 0;
            transition: box-shadow .2s ease;



            .effectsFrame {
                font-size: 1.5rem;
                filter: blur(4px);

                transition: filter .4s ease;

                p {
                    font-family: 'Roboto Mono', monospace;
                }
            }

            h3 {
                position: absolute;
                font-size: 2rem;
                text-shadow: black 0px 0px 1rem;

                opacity: 100%;
                filter: blur(0);

                transition: opacity .2s ease, filter .1s ease;
            }
        }

        .jsLink:hover {
            box-shadow: inset 0 0 2rem black;
            .effectsFrame {
                filter: blur(0);
            }

            h3 {
                opacity: 0;
                filter: blur(4px);
            }
        }
    }
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 32rem;

    background-color: $grey;
    color: grey;
}

/* ----------------- MEDIA QUERYS ----------------- */

@media (min-width: 88rem) {
    .jsIcon {
        left: 22%;
        top: 7.5rem;
    }
}
@media (max-width: 88rem) {
    .gridFrame {
        grid-template-columns: repeat(2, 24rem);
    }

    .jsIcon {
        left: 10%;
        top: 7.5rem;
    }
}

@media (max-width: 60rem) {
    .gridFrame {
        grid-template-columns: repeat(1, 24rem);
        margin: 4rem 0;
    }

    .jsIcon {
        left: 50%;
        top: 12.5rem;
    }

}

/* ----------------- SPECIAL STYLES ----------------- */

.pCodeColour {
    color: rgb(70, 255, 168);
}