/* ------------------- GLOBAL PROPERTIES ------------------- */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
*::selection {
  background-color: crimson;
}

body {
  height: auto;
  width: 100vw;
  font-family: "Rajdhani", sans-serif;
  transition: color 0.25s cubic-bezier(0.75, 0.15, 0.25, 0.85), background-color 0.25s cubic-bezier(0.75, 0.15, 0.25, 0.85);
}
body a {
  text-decoration: none;
}
body ul {
  list-style-type: none;
}

/* ------------------- MOBILE PROPERTIES ------------------- */
@media (max-width: 900px) {
  .topBar {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    height: 4em;
    margin: 0px 5vw;
  }
  .topBar #slideBtn {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    width: 2.25em;
    height: 2.25em;
    z-index: 2;
  }
  .topBar #slideBtn span {
    display: block;
    width: inherit;
    height: 0.25em;
    transition: background-color 0.25s cubic-bezier(0.75, 0.15, 0.25, 0.85), transform 0.25s cubic-bezier(0.75, 0.15, 0.25, 0.85);
  }
  .topBar .navigation {
    position: absolute;
    top: 0;
    left: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    transition: transform 0.25s cubic-bezier(0.75, 0.15, 0.25, 0.85), background-color 0.25s cubic-bezier(0.75, 0.15, 0.25, 0.85);
  }
  .topBar .navigation ul {
    position: relative;
    top: -4em;
    width: 70vw;
  }
  .topBar .navigation ul li .mainNav {
    font-size: 2em;
    transition: color 0.25s cubic-bezier(0.75, 0.15, 0.25, 0.85);
  }
  .topBar .navigation ul span {
    display: block;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.2), red, rgba(255, 0, 0, 0.2));
    margin: 1em 0px;
  }
  .topBar #darkModeSwitch {
    position: relative;
    width: 2em;
    height: 2em;
    overflow: hidden;
    z-index: 2;
  }
  .topBar #darkModeSwitch #darkModeSVG {
    cursor: pointer;
    position: relative;
    width: 4em;
    height: 4em;
    margin: auto;
    right: 1em;
    fill: crimson;
    overflow: visible;
    transition: transform 0.25s cubic-bezier(0.75, 0.15, 0.25, 0.85);
    -webkit-tap-highlight-color: transparent;
  }

  .header {
    position: relative;
    top: -4em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }
  .header .title {
    width: auto;
    height: auto;
  }
  .header .title h1 {
    font-size: 3em;
    font-weight: 300;
    transition: color 0.25s cubic-bezier(0.75, 0.15, 0.25, 0.85), background-color 0.25s cubic-bezier(0.75, 0.15, 0.25, 0.85);
  }
  .header .title h2 {
    background-color: crimson;
    font-size: 1.25em;
    font-weight: 600;
    width: max-content;
    padding: 0px 0.5em;
    transition: color 0.25s cubic-bezier(0.75, 0.15, 0.25, 0.85), background-color 0.25s cubic-bezier(0.75, 0.15, 0.25, 0.85);
  }
}
/* ------------------- SPECIAL PROPERTIES ------------------- */
#active {
  color: red;
  font-weight: 700;
}
#active::after {
  width: 100%;
}

.slideNav {
  transform: translateX(-100vw);
}

.burgerTop {
  transform: translateY(0.75em) rotate(-135deg);
}

.burgerMid {
  transform: rotate(-45deg);
}

.burgerBot {
  transform: translateY(-0.75em) rotate(135deg);
}

/* ------------------- DARKMODE PROPERTIES ------------------- */
.moveSwitch {
  transform: translateY(-2em);
}

.brightBGC {
  background-color: white;
}

.darkBGC {
  background-color: #363838;
}

.brightC {
  color: white;
}

.darkC {
  color: #363838;
}

.brightNav {
  background-color: rgba(255, 255, 255, 0.6);
}

.darkNav {
  background-color: rgba(0, 0, 0, 0.6);
}