@charset "utf-8";
$grey: #414347;
$easing: cubic-bezier(.75,.15,.25,.85);

/* ------------------- GLOBAL PROPERTIES ------------------- */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
    &::selection {
        background-color: crimson;
        color: white;
    }
}