@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
}

nav {
    display: flex;

    width: 100%;
    height: 4rem;

    .title {
        flex: 1;
    }

    .navLinks {
        ul{
            list-style: none;
        }
    }
}