@charset "UTF-8";
/***********************************************
*****************    GLOBAL    *****************
************************************************/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  width: 100%;
}

html {
  overflow-x: hidden;
}

/***********************************************
******************    NAV    *******************
************************************************/
nav {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: white;
}
nav > section ul {
  display: flex;
  list-style: none;
}
nav > section ul li {
  display: flex;
  align-items: center;
  margin-right: 6rem;
}
nav .title {
  flex: 1;
  display: flex;
  justify-content: center;
  font-weight: bold;
}
nav .navLinks {
  flex: 2;
}
nav .storeNav {
  flex: 1;
}
nav .storeNav .goPremium {
  color: #ff111d;
  border: 2px solid #ff111d;
  border-radius: 2rem;
  width: max-content;
  padding: 0.5rem 1rem;
}
nav::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  z-index: 2;
  width: 100%;
  height: 1rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}

/***********************************************
**************    HERO SECTION   ***************
************************************************/
.heroSection {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ddd;
  width: 100%;
  height: 100vh;
}
.heroSection > * {
  transform: translateY(5vh);
}
.heroSection .header {
  width: auto;
  height: auto;
}
.heroSection .header h2 {
  color: #777;
  font-size: 2rem;
}
.heroSection .header h1 {
  color: black;
  font-size: 3.5rem;
  width: 24rem;
}
.heroSection .header .ctaBox {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
.heroSection .header .ctaBox .cta {
  color: white;
  background-color: #ff111d;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem 1.5rem;
  border-radius: 4rem;
}
.heroSection .header .ctaBox h3 {
  display: block;
  width: max-content;
  color: #777;
  margin-left: 2rem;
}
.heroSection .header .ctaBox h3::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  padding-right: 1rem;
}
.heroSection .graphics {
  background-color: #fff;
  border-radius: 2rem;
  width: 24rem;
  height: 26rem;
}
.heroSection .graphics ul {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  width: 100%;
  height: 100%;
}
.heroSection .graphics ul li {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(8, 1.2rem);
  grid-template-rows: repeat(2, 1.2rem);
  grid-gap: 0.8rem 0.8rem;
  grid-template-areas: "t t t t t t t t" "l l l . . . r1 r2";
  width: 100%;
  height: auto;
}
.heroSection .graphics ul li > section {
  border-radius: 1rem;
  opacity: 50%;
}
.heroSection .graphics ul li .gTop {
  grid-area: t;
}
.heroSection .graphics ul li .gLeft {
  grid-area: l;
}
.heroSection .graphics ul li .gRight1 {
  grid-area: r1;
}
.heroSection .graphics ul li .gRight2 {
  grid-area: r2;
}
.heroSection .graphics ul li:nth-child(1) > section {
  background-color: crimson;
}
.heroSection .graphics ul li:nth-child(1)::before {
  background-image: url(../images/check.svg);
  background-size: cover;
  border: none;
}
.heroSection .graphics ul li:nth-child(2) > section {
  background-color: rebeccapurple;
}
.heroSection .graphics ul li:nth-child(3) > section {
  background-color: royalblue;
}
.heroSection .graphics ul li::before {
  content: "";
  position: absolute;
  display: block;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 2rem;
  width: 3.2rem;
  height: 3.2rem;
  transform: translateX(-50%);
  z-index: 1;
}

/***********************************************
******************    MAIN    ******************
************************************************/
main .page {
  height: 90vh;
  width: 100%;
}
main .page1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3b3d41;
}
main .page1 .asideLeft {
  position: absolute;
  top: -6rem;
  left: 0;
  background-color: #ff111d;
  width: 12rem;
  height: 26rem;
}
main .page1 .asideLeft .dots {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 1.2rem;
  list-style: none;
}
main .page1 .asideLeft .dots li {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 100%;
  background-color: white;
}
main .page1 .features {
  position: relative;
  color: white;
  list-style: none;
  width: auto;
  height: auto;
}
main .page1 .features li {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  font-size: 1.2rem;
  padding: 1rem 0;
}
main .page1 .features li::before {
  content: "";
  position: relative;
  left: -2rem;
  background-image: url(../images/check.svg);
  background-size: cover;
  width: 1.8rem;
  height: 1.8rem;
}
main .page1 .asideRight {
  position: absolute;
  bottom: -6rem;
  right: 0;
  width: 26rem;
  height: 26rem;
  background-image: url("../images/phone.jpg");
  background-position: center;
  background-size: cover;
  filter: grayscale(1);
}
main .page2 {
  display: flex;
  align-items: center;
  background-color: #ff111d;
  color: white;
}
main .page2 .userCards {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 4rem;
  padding: 0 16rem;
  transition: 0.4s ease;
}
main .page2 .userCards .card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c40e17;
  width: 16rem;
  height: 24rem;
  border-radius: 2rem;
}
main .page2 .userCards .card .avatar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5rem;
  height: 5rem;
  border: 0.4rem solid #ff111d;
  border-radius: 100%;
}
main .page2 .userCards .card .quote {
  width: 12rem;
}
main .page2 .userCards .card .author {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

/***********************************************
****************    SPECIALS    ****************
************************************************/
.themeColour {
  color: #ff111d;
}

.underlines::after {
  content: "";
  display: block;
  background-color: #ff111d;
  width: 0%;
  height: 2px;
  transition: width 0.2s ease;
}
.underlines:hover::after {
  width: 100%;
}