@charset 'utf8';

body {
    margin: 0px;
    padding: 0px;

    font-family: 'Roboto', sans-serif;
    background-color: #ccc;
}

header {
    display: flex;
    justify-content: center;

    h1 {
        font-size: 64px;
        font-weight: 100    ;
    }
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, 512px);
    grid-gap: 16px;
    justify-content: center;

    width: auto;
    height: auto;
    margin: 64px;

    .gridItem {
        display: flex;
        flex-flow: column;

        justify-content: center;
        align-items: center;

        width: 512px;
        height: 256px;

        a {
            text-decoration: none;
            color: inherit;

            width: 100%;
            height: 100%;
        }

        h2 {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;
            height: 20%;
            margin: 0px;
            padding: 0px;

            font-size: 24px;
            font-weight: normal;

            background-color: #ddd;
        }

        p {
            width: 100%;
            height: 80%;
            margin: 0px;
            padding: 0px;

            background-color: #fff;
        }

        iframe {
            overflow: hidden;

            width: 100%;
            height: 80%;

            background-color: #fff;
        }
    }
}
