body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
}

header h1 {
    margin: auto;
    font-size: 64px;
    font-weight: normal;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
}

.gridContainer a {
    text-decoration: none;
    color: inherit;
}

.gridContainer a .gridItem {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.gridContainer a .gridItem iframe {
    width: 512px;
}
