body {
    background-color: #74b9ff;
    margin: 0px;
    padding: 0px;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 512px 1fr;
    background-color: #FFBA74;
    width: 80vw;
    height: 100vh;
    margin: 0px auto;
    box-shadow: 3px 0px 10px #636e72, -3px 0px 10px #636e72;
}

.gridContainer .gridItem:nth-child(even) {
    background-color: #55efc4;
}

.gridContainer .gridItem:nth-child(odd) {
    background-color: #a29bfe;
}
