body {
    display: grid;
    grid-template-rows: 2fr 3fr 6fr 2fr;
    height: 100vh;
    width: auto;
    margin: 0px;
    padding: 0px;
    font-family: arial;
}

body * {
    border: solid 1px black;
    margin: 0px;
    padding: 0px;
}

body ul {
    list-style-type: none;
}

header {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

header img {
    width: 64px;
    border-radius: 100%;
}

header nav {
    width: 30vw;
}

header nav ul {
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    display: block;
}

header nav ul li a {
    color: white;
    background-color: #262a30;
    text-decoration: none;
    padding: 0.2vw;
}

header nav ul li a:hover {
    background-color: #535961;
}

.slideshow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    margin: 0px auto;
}

.slideshow i {
    transform: scale(2);
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2vh;
    padding: 0px 20vw;
}

.gridContainer .gridItem {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}

.gridContainer .gridItem * {
    margin: 1vh 0px;
}

.gridContainer .gridItem * * {
    margin: 1vh 0px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20vw;
}

footer ul {
    display: flex;
    width: 60vw;
    justify-content: space-between;
}
