@charset 'utf-8';

body {
    display: grid;
    grid-template-rows: 2fr 3fr 6fr 2fr;

    height: 100vh;
    width: auto;

    margin: 0px;
    padding: 0px;

    * {
        border: solid 1px black;
        margin: 0px;
        padding: 0px;
    }

    ul {
        list-style-type: none;
    }
}


header {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    img {
    }

    nav {
        display: flex;
        justify-content: space-around;

        ul li {
            display: block;
        }
    }
}

.slideshow {
    // border-top: solid 0.2vh grey;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

    .gridItem {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: flex-start;
    }
}

footer {
    display: flex;
    // justify-content: space-around;
    // align-items: center;

    ul {
        // display: flex;
        // flex-flow: row;
        // justify-content: space-around;
        // align-items: center;

        li {
        //     display: flex;
        //     flex-flow: column;
        //     justify-content: center;
        //     align-items: flex-start;
        }
    }
}
