@charset 'utf-8';

* {
    margin: 0px;
    padding: 0px;

    border: 1px solid black;
}

.gridContainer {
    display: grid;

    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 5fr 1fr 5fr 5fr 5fr;

    grid-template-areas:
    "logo name call"
    "nav nav nav"
    "featured main aside1"
    "featured main aside2"
    "featured main aside3";

    .gridItem:nth-child(1) {
        grid-area: logo;
    }
}
