body {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: arial;
}

body * {
    margin: 0px;
    padding: 0px;
}

body ul {
    list-style-type: none;
}

header {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
}

header img {
    width: 64px;
    border-radius: 100%;
}

header nav {
    width: 30vw;
}

header nav ul {
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    display: block;
}

header nav ul li a {
    color: white;
    background-color: #262a30;
    text-decoration: none;
    border-radius: 4px;
    padding: 0.4vw;
}

header nav ul li a:hover {
    background-color: #535961;
}

.slideshow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    height: 35vh;
    margin: 0px auto;
    padding: 0px 20vw;
    background-color: #262a30;
}

.slideshow i {
    transform: scale(2);
    color: white;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2vh;
    height: 60vh;
    padding: 4vh 20vw;
}

.gridContainer .gridItem {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}

.gridContainer .gridItem * {
    margin: 1vh 0px;
}

.gridContainer .gridItem * * {
    margin: 1vh 0px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    padding: 0px 20vw;
    background-color: #262a30;
    color: white;
}

footer ul {
    display: flex;
    width: 60vw;
    justify-content: space-between;
}

footer ul li {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

footer ul li * {
    color: inherit;
    text-decoration: none;
    margin: 1vh 0px;
}

footer ul li p {
    color: #535961;
}

footer ul li:nth-child(4) section {
    display: flex;
    justify-content: space-between;
    width: 8vw;
}

footer ul li:nth-child(4) section i {
    display: block;
    transform: scale(2);
    margin: auto 8px;
}
