@charset 'utf-8';

body {
    display: grid;
    grid-template-rows: 2fr 3fr 6fr 2fr;

    height: 100vh;
    width: auto;

    margin: 0px;
    padding: 0px;

    * {
        border: solid 1px black;
        margin: 0px;
        padding: 0px;
    }

    ul {
        list-style-type: none;
    }
}


header {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;

    img {
    }

    nav {
        width: 30vw;

        ul {
        display: flex;
        justify-content: space-between;

            li {
                display: block;
            }
        }
    }
}

.slideshow {
    // border-top: solid 0.2vh grey;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2vh;

    padding: 0px 20vw;

    .gridItem {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: flex-start;

        * {
            margin: 1vh 0px;

            * {
                margin: 1vh 0px;
            }
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0px 20vw;

    ul {
        display: flex;
        width: 60vw;
        // flex-flow: row;
        justify-content: space-between;
        // align-items: center;

        li {
        //     display: flex;
        //     flex-flow: column;
        //     justify-content: center;
        //     align-items: flex-start;
        }
    }
}
