body {
    margin: 0px;
    padding: 0px;
    background-color: #ff6400;
}

h1 {
    font-family: impact;
    transition: color 2s, font-size 2s;
}

h1:hover {
    color: white;
    font-size: 46px;
    transition: color 2s, font-size 2s;
}

p {
    font-style: italic;
    letter-spacing: 2px;
}

/*
class = .
id = #
*/
ul.subpages {
    background-color: grey;
    list-style-type: none;
    padding: 0px;
}

ul.subpages li {
    color: white;
    text-shadow: 2px 2px 2px #000;
    /* x y blur color */
}

ul.subpages li:first-child {
    text-align: center;
}

ul.subpages li a {
    color: red;
    text-decoration: none;
    transition: font-size 2s, color 1s;
}

ul.subpages li a:hover {
    color: #ff9696;
    font-size: 24px;
    transition: font-size 2s, color 1s;
}

nav ul li a {
    color: red;
    text-decoration: none;
}
