.header {
    font-size: 64px;
    font-family: impact;
}

#body {
    color: #202020;
    background-color: #cccccc;
    transition: color 1s, background-color 1s;
}

.darkmode_slider {
    width: 256px;
    height: 256px;
}
