$red: #FF2020;
$dark: #252527;
$light: #a0a0a2;

$us-red: #d63031;
$us-black: #2d3436;
$us-grey: #b2bec3;

$bg-alpha-grey: linear-gradient(-25deg, rgba(0, 0, 0, 0.2) 70%, rgba(0, 0, 0, 0.6) 70%, rgba(0, 0, 0, 0.6) 71%, rgba(0, 0, 0, 0) 71%);
$bg-alpha-grey-odd: linear-gradient(25deg, rgba(0, 0, 0, 0.2) 70%, rgba(0, 0, 0, 0.6) 70%, rgba(0, 0, 0, 0.6) 71%, rgba(0, 0, 0, 0) 71%);

html {
    color: $us-black;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Exo 2', sans-serif;
}

#body {
	-webkit-transition: color 1s, background-color 1s;
	-moz-transition: color 1s, background-color 1s;
	-o-transition: color 1s, background-color 1s;
    transition: color 1s, background-color 1s;
	transition-timing-function: ease;
}

@media screen and (min-width: 800px) {

    #sideNav {
        display: none;
    }

    #btnBar {
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 90%;
        top: 0px;
        margin: 0px 5%;
        padding: 16px;
        z-index: 1;


        #homeBtn {
            display: block;
            width: 32px;
            height: 30px;
        }

        #drkMode {
            display: block;
            width: 64px;

            #switchDrk {
                cursor: pointer;

                -webkit-transition: transform 1s;
                -moz-transition: transform 1s;
                -o-transition: transform 1s;
                transition: transform 1s;
                transition-timing-function: ease;
            }
        }
    }

    #content {
        width: 100%;
        height: 100vh;
        scroll-behavior: smooth;
        overflow-y: scroll;

        .subpages {
            width: 100%;
            height: 100%;
            margin-top: 128px;
            // border: 16px solid #333;

            h1 {
                font-size: 64px;
                letter-spacing: 8px;
                margin: 0px auto;
                width: 80%;
                transform: translateY(128px);
            }
        }

        #mainPage {
            width: 100%;
            height: 100%;

            .headline {
                font-family: 'Bad Script', sans-serif;
                text-align: center;
                transform: translateY(64px);

                h1 {
                    font-size: 82px;
                    letter-spacing: 16px;
                    margin: 0px;
                }

                h2 {
                    letter-spacing: 8px;
                    margin: 0px;
                }
            }

            #mainNav {
                display: flex;
                justify-content: space-around;
                width: 80%;
                margin: 0px auto;
                transform: translateY(128px);

                a {
                    cursor: default;
                    color: inherit;
                    text-decoration: none;
                    margin: 0px;
                    padding: 0px;

                    section {
                        cursor: pointer;
                        // border: solid 3px black;

                        -webkit-transition: transform 0.2s;
                        -moz-transition: transform 0.2s;
                        -o-transition: transform 0.2s;
                        transition: transform 0.2s;
                        transition-timing-function: ease;

                        &:hover {
                            transform: scale(1.4);
                        }

                        p {
                            font-size: 22px;
                            text-align: center;
                            letter-spacing: 2px;
                        }

                        svg {
                            height: 256px;

                            // -webkit-transition: 1s;
                            // -moz-transition: 1s;
                            // -o-transition: 1s;
                            // transition: 1s;
                            // transition-timing-function: ease;
                            //
                            // g {
                            //     -webkit-transition: fill 1s;
                            //     -moz-transition: fill 1s;
                            //     -o-transition: fill 1s;
                            //     transition: fill 1s;
                            //     transition-timing-function: ease;
                            // }
                        }
                    }
                }
            }
        }

        #about {
            background: $bg-alpha-grey;

            .paragraph {
                float: right;
            }
        }

        #shop {
            background: $bg-alpha-grey-odd;

            h1 {
                text-align: right;
            }
        }

        #contact {
            background: $bg-alpha-grey;

            .paragraph {
                float: right;
            }
        }

        .subpages .subBox {
            width: 80%;
            margin: auto;
            transform: translateY(256px);

            .paragraph {
                width: 40%;
                font-size: 32px;
            }

            .instagram svg {
                width: 64px;

                #igGradient {
                    --stop-0: #FFDC80;
                    --stop-1: #FCAF45;
                    --stop-2: #F77737;
                    --stop-3: #F56040;
                    --stop-4: #FD1D1D;
                    --stop-5: #E1306C;
                    --stop-6: #C13584;
                    --stop-7: #833AB4;
                    --stop-8: #5851DB;
                    --stop-9: #405DE6;
                }

                #igNonHover {
                    fill: $dark;
                }

                #igOnHover {
                    fill: url(#igGradient);
                    opacity: 0.0;

                    -webkit-transition: opacity .2s;
                    -moz-transition: opacity .2s;
                    -o-transition: opacity .2s;
                    transition: opacity .2s;
                    transition-timing-function: ease;

                    &:hover {
                        opacity: 1.0;
                    }
                }
            }
        }
    }
}

// @media screen and (min-width: 800px) and (orientation: landscape) {
//
// }

#footer {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0px;
    width: 100%;

    background-color: $us-black;
    color: $us-grey;
}

// .st0 {
//     fill: $us-red;
// }
//
// .st1 {
//     fill: $us-black;
// }
//
// .st2 {
//     fill: $us-grey;
// }

.transparent {
    fill: rgba(0, 0, 0, 0);
}

.st0 {
    fill: $red;
}

.st1 {
    fill: #444;
}

.st2 {
    fill: grey;
}

// --------------- JS Dark Mode Toggle Classes ----------------------

.darkModeBody {
    background-color: $dark;
    color: $light;
}

// .darkModeGrey {
//     fill: $light;
// }
//
// .darkModeBlack {
//     fill: $dark;
// }

.moveSlider {
    transform: translateX(30px);
}

// -------- Easter Egg ----------

.easterEgg {
    animation: colorchange 0s; /* animation-name followed by duration in seconds*/
        /* you could also use milliseconds (ms) or something like 2.5s */
    -webkit-animation: colorchange 20s linear infinite; /* Chrome and Safari */
}

@keyframes colorchange {
        0%   {background: #ff68c5;}
        12.5%  {background: #ff0012;}
        25%  {background: #ff9e01;}
        37.5%  {background: #ffe61d;}
        50% {background: #188630;}
        62.5%  {background: #01eacc;}
        75%  {background: #450097;}
        87.5% {background: #b100d4;}
        100% {background: #ff68c5;}
    }

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
        0%   {background: #ff68c5;}
        12.5%  {background: #ff0012;}
        25%  {background: #ff9e01;}
        37.5%  {background: #ffe61d;}
        50% {background: #188630;}
        62.5%  {background: #01eacc;}
        75%  {background: #450097;}
        87.5% {background: #b100d4;}
        100% {background: #ff68c5;}
    }
