html {
    color: #252527;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Exo 2', sans-serif;
}

#body {
    -webkit-transition: color 1s, background-color 1s;
    -moz-transition: color 1s, background-color 1s;
    -o-transition: color 1s, background-color 1s;
    transition: color 1s, background-color 1s;
    transition-timing-function: ease;
}

@media screen and (max-width: 800px) {
    #btnBar {
        display: none;
    }
    #sideNav {
        position: fixed;
        z-index: 1;
        -webkit-transition: transform 0.4s;
        -moz-transition: transform 0.4s;
        -o-transition: transform 0.4s;
        transition: transform 0.4s;
        transition-timing-function: ease;
    }
    #sideNav #burger {
        position: fixed;
        width: 32px;
        height: 32px;
        margin: 8px;
    }
    #sideNav #burger span {
        background-color: grey;
        display: block;
        height: 4px;
        width: 32px;
        margin: 5px 0px;
        -webkit-transition: transform 0.4s;
        -moz-transition: transform 0.4s;
        -o-transition: transform 0.4s;
        transition: transform 0.4s;
        transition-timing-function: ease;
    }
    #sideNav .sideNav {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.8);
        width: 256px;
        height: 100vh;
        left: -256px;
    }
    #sideNav .sideNav ul {
        text-align: center;
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        height: 85%;
    }
    #sideNav .sideNav ul li a {
        display: block;
        font-size: 22px;
        color: #a0a0a2;
        text-decoration: none;
        padding: 16px 0px;
    }
    #sideNav .sideNav .botButtons {
        display: flex;
        justify-content: space-around;
    }
    #sideNav .sideNav .botButtons #mHomeBtn {
        display: block;
        width: 32px;
    }
    #sideNav .sideNav .botButtons #mDrkMode {
        display: block;
        width: 64px;
    }
    #sideNav .sideNav .botButtons #mDrkMode #mSwitchDrk {
        -webkit-transition: transform 1s;
        -moz-transition: transform 1s;
        -o-transition: transform 1s;
        transition: transform 1s;
        transition-timing-function: ease;
    }
    #content {
        width: 100%;
        height: 100vh;
        scroll-behavior: smooth;
        overflow-y: scroll;
    }
    #content #mainPage {
        width: 100%;
        height: 100%;
    }
    #content #mainPage .headline {
        font-family: 'Bad Script', sans-serif;
        text-align: center;
        transform: translateY(16px);
    }
    #content #mainPage .headline h1 {
        font-size: 42px;
        margin: 0px;
    }
    #content #mainPage .headline h2 {
        font-size: 16px;
        margin: 0px;
    }
    #content #mainPage #mainNav {
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        height: 512px;
        margin: 0px auto;
    }
    #content #mainPage #mainNav a {
        cursor: default;
        display: block;
        color: inherit;
        text-decoration: none;
        margin: auto;
        padding: 0px;
    }
    #content #mainPage #mainNav a section {
        display: flex;
    }
    #content #mainPage #mainNav a section p {
        font-size: 22px;
        text-align: center;
        letter-spacing: 2px;
        margin: auto;
    }
    #content #mainPage #mainNav a section svg {
        height: 128px;
    }
    #content .subpages {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    #content .subpages h1 {
        font-size: 38px;
        margin: 0px;
    }
    #content .subpages section {
        width: 80%;
    }
    #content .subpages section p {
        font-size: 18px;
    }
    #content .subpages section .instagram svg {
        width: 50px;
    }
    #content .subpages section .instagram svg #igGradient {
        --stop-0: #FFDC80;
        --stop-1: #FCAF45;
        --stop-2: #F77737;
        --stop-3: #F56040;
        --stop-4: #FD1D1D;
        --stop-5: #E1306C;
        --stop-6: #C13584;
        --stop-7: #833AB4;
        --stop-8: #5851DB;
        --stop-9: #405DE6;
    }
    #content .subpages section .instagram svg #igOnHover {
        fill: url(#igGradient);
        opacity: 1.0;
    }
}

.slideNav {
    transform: translateX(256px);
}

.burgerTop {
    transform: translateY(9px) rotate(-135deg);
}

.burgerMid {
    transform: rotate(-45deg);
}

.burgerBot {
    transform: translateY(-9px) rotate(135deg);
}
