body {
	background-color: #fff;
	color: #222;
}

.header {
    font-size: 64px;
    font-family: impact;
}

#body {
	-webkit-transition: color 1s, background-color 1s;
    transition: color 1s, background-color 1s;
	transition-timing-function: ease;
}

.dark {
	background-color: #202020;
	color: #CCCCCC;
}

.darkmode-slider {
	left: 50px;
    width: 256px;
}

#switchDrk {
	-webkit-transition: transform 1s;
    transition: transform 1s;
	transition-timing-function: ease;
	cursor: pointer;
}

.slider {
	transform: translate(30px, 0px)
}