body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: arial;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

.bloggContainer {
    border: 1vw solid #aaa;
}

.bloggContainer .bloggItem {
    border-bottom: 1px solid #777;
    margin: 1vw;
}

.bloggContainer .bloggItem .date {
    color: blue;
}

.bloggContainer .bloggItem p:nth-child(3) {
    border-left: 0.2vw solid #777;
    padding-left: 0.5vw;
}
