body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: arial;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

.bloggContainer {
    border: 1vw solid #aaa;
}

.bloggContainer .bloggItem {
    margin: 1vw;
    font-size: 1vw;
}

.bloggContainer .bloggItem time {
    color: blue;
    font-size: 0.8vw;
}

.bloggContainer .bloggItem .author {
    color: grey;
    font-size: 0.8vw;
    margin-left: 0.5vw;
}

.bloggContainer .bloggItem p:nth-child(4) {
    border-left: 0.2vw solid #777;
    padding-left: 0.5vw;
}

.bloggContainer .bloggItem hr {
    border: 0px;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
