* {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style-type: none;
}

#nav {
    width: 100vw;
    height: auto;
    color: #b2bec3;
    background-color: #2d3436;
    font-size: 4vh;
}

#nav .mainNav {
    display: flex;
}

#nav .mainNav li {
    text-align: center;
}
