* {
    margin: 0px;
    padding: 0px;
}

body {
    padding: 1vw;
}

.formContainer {
    width: 50%;
    height: 40vh;
    padding: 1vw;
    border: 1px solid black;
}

.formContainer .testForm {
    height: 100%;
}

.formContainer .testForm fieldset {
    height: 100%;
}

.formContainer .testForm fieldset legend {
    padding: 1vw;
}

.formContainer .testForm fieldset textarea {
    height: 10vh;
    width: 20vw;
    resize: none;
}

.required {
    color: red;
}
