* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.formContainer {
    width: auto;
    height: 40vh;
}

.formContainer .testForm {
    height: 100%;
}

.formContainer .testForm fieldset {
    display: flex;
    flex-flow: column;
    height: 100%;
    border: none;
}

.formContainer .testForm fieldset legend {
    padding: 1vw;
}

.formContainer .testForm fieldset p {
    margin: 1vh 0px;
}

.formContainer .testForm fieldset p input {
    border: 1px solid grey;
    border-radius: 5px;
}

.formContainer .testForm fieldset p textarea {
    height: 10vh;
    width: 20vw;
    resize: none;
    border: 1px solid grey;
    border-radius: 5px;
}

.formContainer .testForm fieldset p label {
    position: absolute;
}

.formContainer .testForm fieldset p * {
    padding: 0.5vh;
}

.required {
    color: red;
}
