@charset 'utf-8';

* {
    margin: 0px;
    padding: 0px;

    font-family: 'Roboto', sans-serif;
}

body {
    padding: 1vw;
}

.formContainer {
    width: 50%;
    height: 40vh;

    // padding: 2vw;
    //
    // border: 1px solid black;

    .testForm {
        height: 100%;

        fieldset {
            display: flex;
            flex-flow: column;
            height: 100%;
            border: none;

            legend {
                padding: 1vw;
            }

            textarea {
                height: 10vh;
                width: 20vw;

                resize: none;
            }

            label {
                position: absolute;
            }

            * {
                margin: 1vh;
                padding: 0.5vh;
            }
        }
    }
}

.required {
    color: red;
}
