* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 1vw;
}

.formContainer {
    width: 50%;
    height: 40vh;
}

.formContainer .testForm {
    height: 100%;
}

.formContainer .testForm fieldset {
    display: flex;
    flex-flow: column;
    height: 100%;
    border: none;
}

.formContainer .testForm fieldset legend {
    padding: 1vw;
}

.formContainer .testForm fieldset textarea {
    height: 10vh;
    width: 20vw;
    resize: none;
}

.formContainer .testForm fieldset label {
    position: absolute;
}

.formContainer .testForm fieldset * {
    margin: 1vh;
    padding: 0.5vh;
}

.required {
    color: red;
}
