@charset 'utf8';

$greyBorder: 1px solid grey;

* {
    margin: 0px;
    padding: 0px;

    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

.formContainer {
    width: auto;
    height: 40vh;

    // padding: 2vw;
    //
    // border: 1px solid black;

    .testForm {
        height: 100%;

        fieldset {
            display: flex;
            flex-flow: column;
            height: 100%;
            border: none;

            legend {
                padding: 1vw;
            }

            p {
                margin: 1vh 0px;

                input {
                    border: $greyBorder;
                    border-radius: 5px;
                }

                textarea {
                    height: 10vh;
                    width: 20vw;

                    resize: none;

                    border: $greyBorder;
                    border-radius: 5px;
                }

                label {
                    position: absolute;
                }

                * {
                    padding: 0.5vh;
                }
            }
        }
    }
}

.required {
    color: red;
}
