@charset 'utf-8';

body {
    width: 100vw;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0px;
    padding: 0px;
}

.gridContainer {
    width: 90vh;
    height: 90vh;

    display: grid;

    grid-template-areas:
        "topLeft top topRight"
        "midLeft mid midRight"
        "botLeft bot botRight";
    grid-template-columns: repeat(3, 30vh);

    .gridItem:nth-child(1) {
        grid-area: top;

        border-right: 3px solid black;
        border-bottom: 3px solid black;
        border-left: 3px solid black;
    }

    .gridItem:nth-child(2) {
        grid-area: midLeft;

        border-top: 3px solid black;
        border-right: 3px solid black;
        border-bottom: 3px solid black;
    }

    .gridItem:nth-child(3) {
        grid-area: midRight;

        border-top: 3px solid black;
        border-bottom: 3px solid black;
        border-left: 3px solid black;
    }

    .gridItem:nth-child(4) {
        grid-area: bot;

        border-top: 3px solid black;
        border-right: 3px solid black;
        border-left: 3px solid black;
    }
}
