@charset 'utf8';

body {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100vw;
    height: 100vh;

    margin: 0px;
    padding: 0px;

    font-family: 'Roboto', sans-serif;
    background-color: #81ecec;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 25vw);
    grid-gap: 32px;
    justify-content: center;

    width: auto;
    height: auto;

    .gridItem {
        width: 100%;
        height: auto;

        color: #222;


        -webkit-transition: transform .2s, color .2s;
        -moz-transition: transform .2s, color .2s;
        -o-transition: transform .2s, color .2s;
        transition: transform .2s, color .2s;
        transition-timing-function: ease;

        &:hover {
            transform: scale(1.2);
            color: #888;
        }


        .gridItemTitle {
            width: 100%;
            height: 5vh;
            margin: 0px;
            padding: 0px;

            font-size: 1.5vw;
            font-weight: normal;

            background-color: #ddd;

            a {
                display: flex;
                justify-content: center;
                align-items: center;

                text-decoration: none;
                color: inherit;

                width: 100%;
                height: 100%;
            }


        }

        iframe {
            overflow: hidden;

            width: 100%;
            height: 25vh;

            background-color: #fff;
        }

        section {
            width: 100%;
            height: 25vh;

            background-color: #fff;
        }
    }

    .gridItemOdd {
        width: 100%;
        height: auto;

        color: #222;

        .gridItemTitle {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;
            height: 5vh;
            margin: 0px;
            padding: 0px;

            font-size: 1.5vw;
            font-weight: normal;

            background-color: #ddd;
        }

        .projects {
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;

            width: 100%;
            height: 25vh;

            background-color: #fff;

            p {
                margin: 8px 0px;
                padding: 0px;

                a {
                    font-size: 1.5vw;
                    text-decoration: none;
                    color: inherit;

                    width: 100%;
                    height: 100%;


                    -webkit-transition: color .2s;
                    -moz-transition: color .2s;
                    -o-transition: color .2s;
                    transition: color .2s;
                    transition-timing-function: ease;

                    &:hover {
                        color: #888;
                    }
                }
            }
        }
    }
}
