* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.slideshow {
  width: 60vw;
  height: 60vh;
}
.slideshow .slideContainer {
  position: relative;
  width: 100%;
  height: 100%;
  list-style-type: none;
}
.slideshow .slideContainer .slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: inherit;
  height: inherit;
  transition: transform 0.4s ease-in-out;
}
.slideshow .slideContainer .slide .slideImage {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
.slideshow .slideContainer .activeSlide {
  display: list-item;
}