@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

.loopFrame {
    width: 100vw;
    height: 80vh;

    overflow: hidden;

    .loop {
        display: grid;
        grid-template-columns: repeat(auto-fill, 100vw);
        grid-template-rows: 80vw;

        width: 500vw;
        height: 80vh;

        overflow-x: visible;
        overflow-y: hidden;

        -webkit-animation: 24s ease infinite running loopAnimation;
        animation: 24s ease infinite running loopAnimation;

        .imgHolder {
            display: inline-block;
            width: 100vw;
            height: 80vh;

            img {
                display: inline-block;
                width: 100vw;
                height: auto;

                transform: translateY(-20vh);
            }
        }
    }
}

@-webkit-keyframes loopAnimation {
    0% {transform: translateX(0);}
    6.25% {transform: translateX(0);}
    12.5%  {transform: translateX(0);}
    18.75%  {transform: translateX(0);}
    25%  {transform: translateX(-100vw);}
    31.25%  {transform: translateX(-100vw);}
    37.5%  {transform: translateX(-100vw);}
    43.75%  {transform: translateX(-100vw);}
    50% {transform: translateX(-200vw);}
    56.25% {transform: translateX(-200vw);}
    62.5%  {transform: translateX(-200vw);}
    68.75%  {transform: translateX(-200vw);}
    75%  {transform: translateX(-300vw);}
    81.25%  {transform: translateX(-300vw);}
    87.5% {transform: translateX(-300vw);}
    93.75% {transform: translateX(-300vw);}
    100% {transform: translateX(-400vw);}
}

@keyframes loopAnimation {
    0% {transform: translateX(0);}
    6.25% {transform: translateX(0);}
    12.5%  {transform: translateX(0);}
    18.75%  {transform: translateX(0);}
    25%  {transform: translateX(-100vw);}
    31.25%  {transform: translateX(-100vw);}
    37.5%  {transform: translateX(-100vw);}
    43.75%  {transform: translateX(-100vw);}
    50% {transform: translateX(-200vw);}
    56.25% {transform: translateX(-200vw);}
    62.5%  {transform: translateX(-200vw);}
    68.75%  {transform: translateX(-200vw);}
    75%  {transform: translateX(-300vw);}
    81.25%  {transform: translateX(-300vw);}
    87.5% {transform: translateX(-300vw);}
    93.75% {transform: translateX(-300vw);}
    100% {transform: translateX(-400vw);}
}